@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ccc;
}
.image-shadow {
  position: relative;
}

.image-shadow img {
  height: 100%;
  transition: 0.3s ease;
  backface-visibility: hidden;
  overflow: hidden;
}
.check_box {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 15px;
  width: 15px;
  z-index: 99;
  display: none;
}
.check_box:checked {
  display: block;
}
.image-box:hover .check_box {
  display: block;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.image-shadow:hover .middle {
  opacity: 1;
  background: rgba(0, 0, 0, 0.338);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: 0.2em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: 0.5em;
  margin-right: 0.5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}
