@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #ccc !important;
  padding: 50px;
}
.image-gallery {
  background-color: #fff;
}

.check_box {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 17px;
  width: 17px;
  z-index: 99;
  display: none;
}
.check_box:checked {
  display: block;
}
.image-box {
  border: 2px solid #ccc;
  border-radius: 9px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.image-box img {
  height: 100%;
  width: 100%;
}
.image-box:hover .check_box {
  display: block;
}

.middle {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  top: 0;
  opacity: 0;
}
.image-box:hover .middle {
  opacity: 0.6;
}

@media only screen and (max-width: 1300px) {
  .p-10 {
    padding: inherit !important;
  }
  .m-20 {
    margin: 2rem;
  }
}
@media only screen and (max-width: 999px) {
  .box-height {
    height: 200px !important;
  }
}
@media only screen and (max-width: 768px) {
  .w-full {
    width: auto !important;
  }
}
